body {
  background-color: pink;
  text-align: center;
  font-family: "Segoe UI", sans-serif;
  font-size: 20px;
  font-weight: 900;
}

.square {
  padding: 10px;
  margin: 0;
  background-color: transparent;
  display: inline-block;
  height: 40px;
  width: 40px;
  vertical-align: top;
  text-align: center;
  line-height: 40px;
  border-style: solid;
  border-color: black;
  border-radius: 8px;
}

.square:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.data {
  background-color: rgba(0, 0, 0, 0.2);
  height: 5000x;
}

.square-updiagonal {
  background-image: repeating-linear-gradient(
    135deg,
    transparent 0%,
    transparent 48%,
    black 50%,
    transparent 52%,
    transparent 100%
  );
}

.square-downdiagonal {
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0%,
    transparent 48%,
    black 50%,
    transparent 52%,
    transparent 100%
  );
}

.square-column {
  background-image: repeating-linear-gradient(
    90deg,
    transparent 0%,
    transparent 46%,
    black 50%,
    transparent 54%,
    transparent 100%
  );
}

.square-row {
  background-image: repeating-linear-gradient(
    0deg,
    transparent 0%,
    transparent 46%,
    black 50%,
    transparent 54%,
    transparent 100%
  );
}
