body {
  background-color: pink;
  text-align: center;
  font-family: "Segoe UI", sans-serif;
  font-size: 20px;
  font-weight: 900;
}

.square {
  padding: 10px;
  margin: 10px;
  background-color: white;
  display: inline-block;
  height: 40px;
  width: 40px;
  vertical-align: top;
  text-align: center;
}

.data {
  background-color: rgba(0, 0, 0, 0.2);
  height: 5000x;
}
